/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(107.56deg, #C2E9FB 0%, #A1C4FD 100%);
  display: grid;
  place-items: center;
  height: 100vh;

}

body, button, input {
  font-family: 'DM Sans', sans-serif;
}

.hide {
  display: none;
}

button {
  background-color: #7879f1;
  color: #fff;
  font-weight: bold;
  border-radius: 0 .4rem .4rem 0;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background-color: #5a5aa7;
}

main {
  padding: 4.8rem 6.4rem 6.4rem;
  background: #FFFFFF;
  box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.1);
  border-radius: .6rem;

  width: min(42.8rem, 90%);

  margin-top: -20px;
  text-align: center;
}


/* Screen 1 */  
h1, p {
  color: #34355b;
}

p {
  opacity: 0.8;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: none;
  padding: 1.6rem;
}

input {
  background-color: #dce2e9;
  width: 5rem;
  border-radius:  .4rem 0 0 .4rem;
}


/* Screen 2 */
h2 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 3.3rem;
}

h1, p {
  color: #34355b;
}

.screen2 button {
  border-radius: .4rem;
}